.clear {
  clear:both;
}
#header-phone {
	width: 0px;
	float: right;
	margin-top: 0px;
	color: #0C92A5;
	font-size: 18px;
	text-align:right;
	display: none;
	visibility: hidden;
	font-family: $font-sanchez;	
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $midwidth) {
		width: 100%;
		float: right;
		text-align: right;
		margin-top: 10px;
		color: #0C92A5;
		font-size: 18px;
		text-align:right;
		display: inline-block;
		visibility: visible;
		position: absolute;
		top: 10px;
		right: 0;
	}
	@media screen and (min-width: $deskwidth) {
		width: auto;
		float: right;
		margin-top: 53px;
		position: relative;
	}
	a {
		text-decoration: none;
	}
}
#header-phone-mobile {
	@media screen and (min-width: $midwidth) {
		width: 0px;
		float: right;
		margin-top: 0px;
		color: #0C92A5;
		font-size: 18px;
		text-align:right;
		display: none;
		visibility: hidden;
	}
}
.homequicklinks {
	@media screen and (min-width: $deskwidth) {
		margin-left: 0px!important;
	}
}
#logo-space {
	width: 190px;
	height: 100px;
	float: left;
}
#banner-text {
    width: 0%;
    height: 0%;
    float: left;
    font-size: 22px;
    color: #063483;
    font-family: $font-sanchez;
    padding-left: 0%;
	line-height: 21px;
	padding-top: 0px;
	display:none;
	visibility:hidden;
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		width: 475px;
	    height: 280px;
	    float: left;
	    font-size: 30px;
	    color: #063483;
	    font-family: $font-sanchez;
		line-height: normal;
		padding-top: 0px;
		visibility:visible;
		display: inherit;
	}
}

#banner-text-mobile {
	    width: 90%;
    height: auto;
    float: left;
    font-size: 22px;
    color: #063483;
    font-family: $font-sanchez;
    padding-left: 5%;
	line-height: 21px;
	padding-top: 15px;
	text-align: center;
	margin-bottom: 25px;
	@media screen and (min-width: $tabwidth) {
	
	}
	@media screen and (min-width: $deskwidth) {
		width: 0%;
	    height: 0%;
	    float: left;
	    font-size: 22px;
	    color: #063483;
	    font-family: $font-sanchez;
	    padding-left: 0%;
		line-height: 21px;
		padding-top: 0px;
		visibility:hidden;
		display:none;
	}
}

/* Social */
#sociallinks {
	width: 70px;
	position: relative;
	float: right;
	z-index: 6;	
}

#sociallinks  ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	z-index: 2;
	position: relative;
}
#sociallinks  ul li {
	float: left;
	position: relative;
	margin: 0px 5px;
}
#sociallinks  ul a {
	text-decoration: none;
	background-image: url(images/social.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 25px;
	text-indent: -9000px;
	position: relative;
}
#sociallinks  .facebook a {
	width:25px;
	background-position: -0px -0px;
	position: relative;
}
#sociallinks .facebook a:hover {
	background-position: -0px -25px;
}
#sociallinks  .etsy a {
	width:25px;
	background-position: -33px 0px;
	position: relative;
}
#sociallinks  .etsy a:hover {
	background-position: -33px -25px;
}

footer .site-info {
	width: 100%;
	text-align: center;
	background-color: #4468A2;
	font-size: 14px;
	color: #ffffff;
	// height: 55px;
	float:left;
	padding-top: 4px;
	padding-bottom: 3px;
	@media screen and (min-width: $deskwidth) {
		text-align: center;
		background-color: #4468A2;
		font-size: 14px;
		color: #ffffff;
		// height: 25px;
		float:left;
		padding: 10px 0;
	}
	a{ color: #ffffff; text-decoration: none; }
	a:hover { color: #063583!important; text-decoration: none; }
}

.sub-menu .current_page_item > a {
	color: #ffffff;
}


/* Logo */
.logo , h1.logo {
	width: 100px;
	height: 100px;
	background: {
		image: url(images/smith-horton-law.png);	
		size: contain;
		repeat: no-repeat;
	}
	

	position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
 	z-index: 9999999;
	@media screen and (min-width: $tabwidth) {
		width: 150px;
	    height: 150px;
	}
	@media screen and (min-width: $deskwidth) {
		top: 30px;
	}
}
.logo a, h1.logo a{
	width: 100px;
	height: 100px;
	display: block;
	text-indent: -9000px;
	@media screen and (min-width: $tabwidth) {
		width: 150px;
	    height: 150px;
	}
}
/* Banner */
section[role="banner"] {
	margin-bottom: 48px;
}

/* Sidebar */
.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 48px;
	word-wrap: break-word;
}
.widget-area .widget h3 {
	margin-bottom: 24px;
}
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
	font-size: 13px;
	line-height: 1.846153846;
}
.widget-area .widget p {
	margin-bottom: 24px;
}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 24px;
}
.widget-area .textwidget li {
	margin-left: 36px;
}
.widget-area .widget a {
	color: #757575;
}
.widget-area .widget a:hover {
	color: #673695;
}
.widget-area .widget a:visited {
	color: #9f9f9f;
}
.widget-area #s {
	width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}

/* Footer */
footer[role="contentinfo"] {
	clear: both;
	font-size: 12px;
	line-height: 2;
	width: 100%;

	margin-left: auto;
	margin-right: auto;
	float: left;
}


/* = Pages and Page Templates
-------------------------------------------------------------- */



.site-content article {
	border-bottom: 4px double #ededed;
	margin-bottom: 72px;
	padding-bottom: 24px;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.page-links {
	clear: both;
	line-height: 1.714285714;
}
footer.entry-meta {
	margin-top: 24px;
	font-size: 13px;
	line-height: 1.846153846;
	color: #757575;
}
.single-author .entry-meta .by-author {
	display: none;
}
.mu_register h2 {
	color: #757575;
	font-weight: normal;
}


/* =Archives
-------------------------------------------------------------- */

.archive-header,
.page-header {
	margin-bottom: 48px;
	padding-bottom: 22px;
	border-bottom: 1px solid #ededed;
}
.archive-meta {
	color: #757575;
	font-size: 12px;
	line-height: 2;
	margin-top: 22px;
}


/* =Single image attachment view
-------------------------------------------------------------- */

.article.attachment {
	overflow: hidden;
}
.image-attachment div.attachment {
	text-align: center;
}
.image-attachment div.attachment p {
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
.image-attachment .entry-caption {
	margin-top: 8px;
}

/* =Comments
-------------------------------------------------------------- */

.comments-title {
	margin-bottom: 48px;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
}
.comments-area article {
	margin: 24px 0;
}
.comments-area article header {
	margin: 0 0 48px;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 85px;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	line-height: 1.42857143;
}
.comments-area cite b {
	font-weight: normal;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #673695;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area .bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	padding: 2px 5px;
	font-size: 10px;
}
.comments-area .bypostauthor cite b {
	font-weight: bold;
}
a.comment-reply-link,
a.comment-edit-link {
	color: #686868;
	font-size: 13px;
	line-height: 1.846153846;
}
a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #673695;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
}

/* Comment form */
#respond {
	margin-top: 48px;
}
#respond h3#reply-title {
	font-size: 16px;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	font-weight: normal;
	font-size: 12px;
}
#respond form {
	margin: 24px 0;
}
#respond form p {
	margin: 11px 0;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 1.714285714;
	padding: 10px;
	width: 100%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	line-height: 2;
	color: #5e5e5e;
}
.required {
	color: red;
}




/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget ul ul {
	margin-left: 12px;
}
.widget_rss li {
	margin: 12px 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	margin-left: 12px;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 24px;
	text-align: right;
}
.widget_search label {
	display: block;
	font-size: 13px;
	line-height: 1.846153846;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}



#banner-photo img {
	width: 100%;
	height: auto;
	border-bottom: 8px solid #4468A2;
	@media screen and (min-width: $deskwidth) {

	}
}

#banner-wrapper {
	max-width: 0%;
	width: 0%;
	height: 0px;
	position: relative;
	top: auto;
    left: auto;
	float: left;
    z-index: 10000;
    margin-top: 0px;
	display: none;
	visibility: hidden;
	@media screen and (min-width: $deskwidth) {
		max-width: 1100px;
	    height: auto;
	    position: absolute;
	    top: 270px;
	    left: 0px;
	    z-index: 10000;
		margin-top: 0px;
		visibility:visible;
		display: inherit;
	}
}

#banner-photo {
	overflow: hidden;
	@media screen and (min-width: $deskwidth) {
		width: 100%;
		height: auto;
		float: left;
		position: relative;
		top: 0px;
	}
}

#banner-photo img {
	width: 110%;
}

#logo {
    width: 25%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
 	z-index: 9999999;
 	@media screen and (min-width: $deskwidth) {
 	 	width: 150px;
	    height: 150px;
	    position: absolute;
	    left: 0px;
	    top: 30px;
	    text-align: left;
	    z-index: 9999999;
 	}
}

#logo img {
    width: 100%;
    height: auto;
	max-width: 140px;
}

.menu-practice-areas-container ul li {
	font-size: 14px!important;
	font-family: $font-sanchez!important;
}

.menu-practice-areas-container ul li ul li {
	font-size: 14px!important;
	font-family: $font-pt!important;

}

.site-header {
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 57px;
	margin: 0 auto;
	background-color: #EFEFEF;
	@media screen and (min-width: $deskwidth) {
		position: relative;
	    max-width: 1100px;
		height: 110px;
		margin: 0 auto;
	}
}
#header-button {
	width: 0%;
	height: 0px;
	position: relative;
	right: inherit;
	top: inherit;
	z-index: 11000;
	text-align: center;
	font-size: 14px;
	font-family: $font-sanchez;
	visibility: hidden;
	display: none;
	@media screen and (min-width: $deskwidth) {
		width: 200px;
		height: 25px;
		position: absolute;
		right: 0px;
		top: 0px;
		z-index: 11000;
		text-align: center;
		font-size: 14px;
		font-family: $font-sanchez;
		visibility: visible;
		display: inherit;
	}
	a {
		text-decoration: none;
		display: block;
		background-color: #063583;
		color: #ffffff;
		z-index: 11000;
		text-align: center;
		font-size: 14px;
		padding-top: 5px;
		font-family: $font-sanchez;
		-moz-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 5px;
	}
}

#header-button 

#header-button a:link { color: #ffffff; text-decoration: none; }
#header-button a:visited { color: #ffffff; text-decoration: none; }
#header-button a:hover { color: #ffffff; text-decoration: none; background-color: #4468A2; }

.menu-toggle {
	float: left;
}

#menu-main-primary-menu {
    background-color: #ffffff;
    z-index: 9999998;
    position: relative;
    left: inherit;
    top: inherit;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #EFEFEF;
	text-align: center;
	@media screen and (min-width: $deskwidth) {
		background-color: transparent;
	    z-index: 9999999;
	    position: relative;
	    left: auto;
	    top: auto;
		padding: 0px;
		width: 100%;
	}
}




#banner-photo {
    width: 100%;
    height: auto;
    float: left;
}


.site-info-content {
	max-width: 1100px;
	margin: 0 auto;
}





img#wpstats {
	display: block;
	margin: 0 auto 24px;
}

.archives {
	margin-top: 15px;
}

.archives ul {
	margin: 0px 0px 0px 0px;
}

.archives li {
	margin-bottom: 0px;
	font-size: 16px;
	list-style-type: disc;
	color: #4468A2;
}


.blog-page {
	width: 59%;
	float: left;
}

.blogentry {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #4468A2;
	min-height: 300px;
}

.blogentry img {
	max-height: 250px;
}

.blogentry h2 {
	margin-bottom: 10px;
}

.blogentry h2 a:link { color: #0C92A6; }
.blogentry h2 a:visited { color: #0C92A6; }
.blogentry h2 a:hover { color: #000000; }

#home-wrapper {
	float: left;
	width: 100%;
	background-color: #ffffff;
	
}

#sidebar-feed {
	width: 280px;
	min-height: 200px;
	border: 1px solid #c0c0c0;
	float: right;
	margin-left: 30px;
	margin-bottom: 20px;
	padding: 10px;
}