@font-face {
    font-family: Nanami;
    src: url("/fonts/Nanami/NanamiPro-Normal.otf") format("opentype");
}

@font-face {
    font-family: Nanami;
    font-weight: bold;
    src: url("/fonts/Nanami/NanamiPro-Bold.otf") format("opentype");
}

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font-pt: 'PT Sans', sans-serif; // copy
//$font-sanchez: 'Sanchez', serif; // titles

//$font-pt: 'Nanami';  // copy
$font-sanchez: 'Nunito', sans-serif; // titles